* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  display: flex;
  justify-content: center;
}

.head {
  background-color: orangered;
  width: inherit;
  margin-bottom: 3px;
  margin-top: 5px;
  height: 15rem;
  border-radius: 10px 10px 0px 0px;
}

h1 {
  padding-left: 25px;
  font-size: 5rem;
}

.desc {
  padding-left: 25px;
  color: antiquewhite;
  font-size: 3rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 1px, -1px -1px gainsboro;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  row-gap: 15px;
  column-gap: 15px;
  width: 95vw;
  grid-auto-rows: minmax(100px, auto);
  padding: 10px 5px;
}

.col-1 {
  grid-row-start: 1;
}

.col-2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.col-3 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.col-4 {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 4;
}

.col-5 {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 3;
}

.col-6 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.col-7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.col-8 {
  grid-column-start: 1;
  grid-row-start: 5;
  grid-row-end: 7;
}

.col-9 {
  grid-column-start: 2;
  grid-row-start: 5;
  grid-row-end: 5;
}

.col-10 {
  grid-column-start: 3;
  grid-row-start: 5;
  grid-row-end: 7;
}
